@use "../../../../app/styles/variables/global" as *;

.titleH {
  margin-block-end: 0.5rem;
}


.TextWrapper {
  text-align: center;
  margin-bottom: 2rem;
}

.Tabs {
  @include text-button-small;

  height: 3.75rem;
}

.Form {
  margin-block-start: 1rem;
}

.InputAuthForm {
  margin-block-end: 2rem;
}

.AuthFormButtonSumbit {
  width: 100%;
}


.animateInputHidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, visibility 0s linear 300ms, max-height 300ms ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.animateInputVisible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, visibility 0s, max-height 300ms ease-in-out;
  max-height: 68px;
}