.AuthenticationWidget {
  display: flex;
  justify-content: center;
  align-items: center;
  //min-height: 100vh;
  padding: 3rem 1rem;

}

.AuthenticationWidgetWrapper {
  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  width: 100%;
  max-width: 28rem;
  padding: 2rem;
  color: black;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  position: relative;
  background-color: var(--background-color);
}